<!-- diretivas são compostas por classes do TS -->
<!-- Pipes são uma maneira elegante de realizarmos transformações de texto em nosso front-end. Só funcionam com  valores em STRING ou NUMBER
Para fazer a configuração dos pipes para o padrão BR precisamos importar algumas coisas no app.module.ts, com as configs feitas o padrão agora é o BR.
Outros tipos de pipes em -> https://angular.io/guide/pipes -->



<!-- ex date pipe, tipos de formatação em -> https://angular.io/api/common/DatePipe#description -->
<h3>Data de hoje: {{dataHoje | date: 	'medium'}}</h3>
<button (click)="toggleColab()">Ocultar colaboradores</button>
<hr>
<!-- structural directives (ngIf) e (ngFor) -> para a manipulação do DOM, toda a lógica fica no colabs.component.ts -->
<div class="container" *ngIf="showColab">
  <div class="card" *ngFor="let colaborator of colaborators">
    <div class="card-description">
      <h3>Nome: {{colaborator.name}}</h3>
      <h4>Cargo: {{colaborator.ocupation}}</h4>
      <button class="actions details" (click)="detailsColab(colaborator.id)">Ver mais</button>
    </div>
  </div>
</div>
<hr>
<!-- event binding (functions in colabs.ts) -->
<button (click)="navigateByUrl('create-colaborator')">Adicionar colaborador</button>
