@import 'src/assets/styles/_colors.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  text-align: center;
  box-shadow: 0 4px 8px 0 $cor-box-shadow-padrao;
  border-radius: 5px 5px;
  background-color: #424242;

  .card-description {
    color: $cor-padrao-textos;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .actions {
    border: 0px solid rgb(22, 22, 22);
    background-color: #C72A68;
    color: whitesmoke;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
  }

  .details {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .details:hover {
    background-color: #e2518b;
  }
}

.card:hover {
  box-shadow: 10px 5px 5px $cor-box-shadow-padrao;
}

.example-card {
  max-width: 400px;
  margin: 10px 0;
}
