<!-- diretivas são compostas por classes do TS -->
<!-- Pipes são uma maneira elegante de realizarmos transformações de texto em nosso front-end. Só funcionam com  valores em STRING ou NUMBER
Para fazer a configuração dos pipes para o padrão BR precisamos importar algumas coisas no app.module.ts, com as configs feitas o padrão agora é o BR.
Outros tipos de pipes em -> https://angular.io/guide/pipes -->



<!-- ex date pipe, tipos de formatação em -> https://angular.io/api/common/DatePipe#description -->
<h3>Data de hoje: {{dataHoje | date: 	'medium'}}</h3>
<button (click)="toggleColab()">Mostrar colaboradores</button>
<hr>
<!-- structural directives (ngIf) e (ngFor) -> para a manipulação do DOM, toda a lógica fica no colabs.component.ts -->
<div *ngIf="showColab">
  <div class="colabs-loop" *ngFor="let colaborator of colaborators">
    <div class="person-interpolation">
      <h3>Nome: {{colaborator.name}}</h3>
      <ul>
        <li>Id: {{colaborator.id}}</li>
        <!-- exemplo de pipe currency. O padrão é em dólar, mas tem diversos tipos de formatação -> https://angular.io/api/common/CurrencyPipe -->
        <li>Salário: {{colaborator.wage | currency: 'R$' }}</li>
        <li>Cargo: {{colaborator.ocupation}}</li>
        <!-- diretiva de atributo (ngClass) -> o ":" funciona como um "if" https://angular.io/api/common/NgClass -->
        <li [ngClass]="{'open': colaborator.openToWork, 'not-open': !colaborator.openToWork }">{{colaborator.openToWork ? "Disponível" : "Contratado"}}</li>
      </ul>
    </div>
  </div>
  <!-- event binding (functions in colabs.ts) -->
  <button (click)="addColab()">Adicionar colaborador</button>
