<div class="container">
  <header>
    <h1>Angular Semana 1</h1>
  </header>

  <main>
    <section class="main-text">
      <h2>Hello World</h2>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu ornare diam, id rhoncus massa. Phasellus aliquet arcu sed laoreet molestie.
        Donec ut justo risus. Mauris vitae ex eu leo porttitor porta. Etiam at magna id ex pretium porta. Pellentesque a mi pellentesque, vestibulum mi consectetur, mollis leo.
        Donec imperdiet mattis euismod.
      </p>
      <br>
      <p>
        Sed sit amet lacus at magna malesuada sollicitudin vel faucibus urna. Maecenas porttitor augue a lacus rutrum efficitur.
        Duis vitae ante eu ipsum ultrices consectetur. Praesent malesuada mi nibh, ac fringilla nunc placerat eu. Vestibulum ex mauris,
        cursus at elementum quis, laoreet et metus. Nam et leo quam. Donec tincidunt, urna id congue bibendum, metus nisi suscipit nisl,
        ut cursus mi dolor vitae orci. Pellentesque lorem tortor, iaculis ac laoreet a, maximus nec ligula. Nulla id metus nec ante iaculis tristique.
        Donec suscipit porttitor libero vel faucibus. Nam accumsan lacus quis scelerisque suscipit.
      </p>
    </section>
  </main>
</div>
