<main>
  <h1>Faça login para ver os colaboradores</h1>
  <section>
    <h1>Lorem Ipsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate, sapien a consequat consectetur, dolor diam pretium tellus, nec tincidunt arcu eros id ipsum. Integer ac
      mollis lectus, in pellentesque ligula. Ut non leo vel ex tempus commodo. Suspendisse sagittis blandit sapien eu maximus. Vivamus eu laoreet quam. Suspendisse ac lectus vel quam
      euismod pharetra. Praesent vulputate sapien in nisi accumsan tempor. Integer nec odio leo. Suspendisse ornare orci et aliquet scelerisque. Sed non lorem id nisl dictum ornare.
      Vivamus sed risus pellentesque, luctus dolor id, eleifend augue. Integer vitae quam eget felis mattis dictum. Ut sodales tortor eu quam molestie pulvinar. Sed at eros in mi
      vestibulum maximus sit amet ac metus.</p>

    <p>Ut vitae quam et lectus egestas rutrum. Suspendisse sapien leo, consectetur eget efficitur quis, venenatis id nisl. Nunc vehicula nisl lorem, vitae dictum nunc accumsan ac.
      Ut convallis, ligula a luctus tempus, odio augue pharetra mauris, non porta ligula augue vitae metus. Proin consequat ante sapien, id dapibus ex fermentum id. Ut venenatis
      pellentesque eros, quis malesuada velit imperdiet sit amet. Cras bibendum non tellus eget vulputate. Aenean tincidunt nisl non convallis pretium. Maecenas lacus purus, iaculis
      sed quam sit amet, ornare ullamcorper urna. Aenean tristique, nunc in aliquam egestas, nisi neque tincidunt turpis, finibus pulvinar mauris augue in nulla. Etiam bibendum suscipit
      nibh sit amet placerat. Vestibulum suscipit malesuada lectus sed aliquam. Cras massa mi, blandit quis massa finibus, dignissim fermentum enim.</p>
  </section>
</main>
<!-- event binding (functions in main.ts) -->
<input type="text" (keyup)="typed($event)">
