<!-- diretivas são compostas por classes do TS -->
<!-- Pipes são uma maneira elegante de realizarmos transformações de texto em nosso front-end. Só funcionam com  valores em STRING ou NUMBER
Para fazer a configuração dos pipes para o padrão BR precisamos importar algumas coisas no app.module.ts, com as configs feitas o padrão agora é o BR.
Outros tipos de pipes em -> https://angular.io/guide/pipes -->



<!-- ex date pipe, tipos de formatação em -> https://angular.io/api/common/DatePipe#description -->
<h3>Data de hoje: {{dataHoje | date: 	'medium'}}</h3>
<button (click)="toggleColab()">Ocultar colaboradores</button>
<hr>
<!-- structural directives (ngIf) e (ngFor) -> para a manipulação do DOM, toda a lógica fica no colabs.component.ts -->
<div *ngIf="showColab">
  <div class="colabs-loop">
    <div class="person-interpolation" *ngFor="let colaborator of colaborators">
      <h3>Nome: {{colaborator.name}}</h3>
      <h4>Cargo: {{colaborator.ocupation}}</h4>
      <button class="details" (click)="detailsColab(colaborator.id)">Ver mais</button>
    </div>
  </div>
  <hr>
  <!-- event binding (functions in colabs.ts) -->
  <button (click)="addColab()">Adicionar colaborador</button>
